*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Calculator{
    background-color: beige;
    padding: 20px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px black;
    display: grid;
    grid-template-columns: repeat(4, 75px);

}

input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: beige;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset  5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    color: rgba(70,70,70);
    font-size: 60px;
    text-align: end;
    padding: 20px;
}
button{
    height: 48px;
    width: 48px;
    background-color: aliceblue;
    box-shadow: inset -5px -5px 12px rgba(0,0,0,.16),
                      5px 5px  12px rgba(0,0,0,.16);
    border:none;
    border-radius: 50px;
    margin: 8px;
    font-size: 16px;
}
.equal{
    width: 120px;
    border-radius: 40px;
    background-color: aliceblue;
    box-shadow: inset -5px -5px 12px rgba(0,0,0,.16),
                      5px 5px  12px rgba(0,0,0,.16);
    border:none;
}